p@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*Page 1*@   
<div class="d-flex flex-column align-items-center">
    @* header *@
    <div class="d-flex justify-content-between">

        <div class="d-flex flex-column align-items-center">
            <p>SỞ Y TẾ</p>
            <p>SỞ Y TẾ</p>
            <p>THÀNH PHỐ HỒ CHÍ MINH</p>
            <p class="fw-bold">VIỆN Y DƯỢC HỌC DÂN TỘC</p>
        </div>

        <div class="d-flex flex-column align-items-center">
            <p class="fw-bold">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
            <p class="fw-bold">Độc lập - Tự do - Hạnh phúc</p>
        </div>

    </div>

    <p class="fw-bold">BẢNG KIỂM TUÂN THỦ QUY TRÌNH KỸ THUẬT CHÂM CỨU</p>

    @*genaral information*@
    <div class="d-flex flex-column align-items-start">
        <p>Ngày kiểm tra: </p>
        <p>Người kiểm tra: </p>
        <p>Người được kiểm tra: </p>
        <p>Khoa kiểm tra: </p>
        <p>Số hồ sơ nhập viện: </p>
    </div>
</div>
@*/Page 1*@